@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Ubuntu:ital,wght@0,400;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu";
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
  margin: 0;
  padding: 0 24px;
  background-image: url("/backgrounds/background2.PNG");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Ubuntu";
  color: rgb(255, 255, 255);
  animation: rotate 6s infinite alternate linear;
}

.login-card > h1 {
  font-size: 36px;
  font-weight: 600;
  margin: 0 0 12px;
  text-align: center;
}

.login-form .input-box p {
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: 100;
}

.login-form {
  width: 100%;
  margin: 0;
  display: grid;
  gap: 16px;
}

.login-form > button {
  cursor: pointer;
  width: 30%;
  height: 30px;
  padding: 0 16px;
  margin-top: 45px;
  margin-left: 200px;
  border-radius: 0.8rem;
  background: rgb(4, 24, 73);
  border: 2px solid rgba(255, 255, 255, 0.5);
  color: #f9f9f9;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  transition: all 0.375s;
  /* margin: auto; */
}

.login-form > button:hover {
  background: rgb(64, 197, 224);
}

.login-form .input-box-email {
  /* margin: auto; */
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
}

.login-card .login-form .input-box-email input {
  border: 2px solid #ebebeb;
  font-family: inherit;
  padding-left: 20px;
  border-radius: 1rem;
  transition: all 0.375s;
  width: 70%;
  height: 40px;
}

.login-card {
  position: relative;
  background: transparent;
  backdrop-filter: blur(20px);
  border: 2px solid rgba(255, 255, 255, 0.5);
  z-index: index 3;
  width: 30%;
  margin: 0 20px;
  padding: 55px 15px 40px;
  border-radius: 1.25rem;
  text-align: center;
  overflow: hidden;
}

@keyframes rotate {
  100% {
    background-position: 15% 50%;
    animation-direction: alternate-reverse;
  }
}

@media (width >= 500px) {
  body {
    padding: 0;
  }

  .login-card {
    margin: 0;
    width: 600px;
    height: 400px;
  }
}
