@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Ubuntu:ital,wght@0,400;1,300&display=swap");

html,
body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
  margin: 0;
  padding: 0 24px;
  background-image: url("/backgrounds/background2.PNG");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Ubuntu";
  color: rgb(255, 255, 255);
  animation: rotate 6s infinite alternate linear;
}

.verification-card {
  position: relative;
  background: transparent;
  backdrop-filter: blur(20px);
  border: 2px solid rgba(255, 255, 255, 0.5);
  z-index: index 3;
  width: 100%;
  margin: 0 20px;
  padding: 55px 15px 40px;
  border-radius: 1.25rem;
  text-align: center;
  overflow: hidden;
}

.verification-card h1 {
  font-size: 40px;
}

.verification-card p {
  padding-bottom: 20px;
  font-size: large;
}

.verification-card .verification-form .square-input input {
  width: 50px;
  height: 50px;
  margin-left: 20px;
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  border-radius: 0.8rem;
}
.verification-form > button {
  cursor: pointer;

  width: 25%;
  height: 40px;
  padding: 0 16px;
  margin-top: 50px;
  border-radius: 1.25rem;
  background: rgb(4, 24, 73);
  border: 2px solid rgba(255, 255, 255, 0.5);
  color: #f9f9f9;
  font-family: inherit;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  transition: all 0.375s;
}

@keyframes rotate {
  100% {
    background-position: 15% 50%;
    animation-direction: alternate-reverse;
  }
}

@media (width >= 500px) {
  body {
    padding: 0;
  }
  .verification-card {
    margin: 0;
    width: 600px;
  }
}
